
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewInfo</title>
</head>
<body>
    <div> 
        <h2>從Controller 傳遞數據到Veiw畫面</h2>
        <hr/>

        ViewData的答案: @ViewData["A"] <br/>
        ViewBag的答案 @ViewBag.B<br/>
        TempData["C"]的答案: @TempData["C"] <br/>
        <hr/>
        <br/>
    </div>
</body>
</html>
