
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewError</title>
</head>
<body>
    <div>
        <h2>從Controller 傳遞數據到Veiw畫面 #2</h2>
        <hr />

        ViewData的答案: @ViewData["XYZ"] <br />
        ViewBag的答案 @ViewBag.XYZ<br />
        <hr />
        <br />
    </div>
</body>
</html>
